[submodule "text_to_brainfuck"]
	path = text_to_brainfuck
	url = https://github.com/sstelian/Text-to-Brainfuck
[submodule "bfception/text_to_brainfuck"]
	path = bfception/text_to_brainfuck
	url = https://github.com/sstelian/Text-to-Brainfuck
